@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $color-secondary;
  color: $color-primary;
  gap: $section-large;
  padding: 8rem 6rem 6rem;
  font: $font-desktop-dm-400-18;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 140px;
    }
  }

  ul,
  p {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .column1 {
    display: flex;
    height: 10rem;
    gap: 8rem;

    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a:not(.logo) {
    color: $color-primary;
    text-decoration: none;
    @include m.hover-underline();
  }
}

/* Mobile */
@include m.respond("mobile") {
  .footer {
    padding: 4rem 2rem;
    flex-wrap: wrap;
    gap: $section-large;
    font: $font-mobile-dm-400-14;

    .logo img {
      width: 60px;
      height: 60px;
    }

    .column1 {
      height: auto;
      width: 100%;
      .list {
        gap: $section-medium;
      }
    }

    .column2 {
      gap: $section-large;
    }

    .column3 {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      li {
        &:nth-child(1) {
          order: 1;
        }
        &:nth-child(2) {
          order: 3;
          margin-right: 5.5rem;
        }
        &:nth-child(3) {
          order: 2;
        }
      }
    }
  }
}
