@use "../styles/variables" as *;
@use "../styles/mixins" as *;

/* ================= HERO ================= */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $section-medium;
  padding: 4rem 4rem 8rem;
  background-color: $color-primary;

  img {
    width: 160px;
  }

  .heroTitle {
    font: $font-desktop-dm-400-42;
    color: $color-secondary;
  }

  .heroText {
    max-width: 26rem;
    margin: 0;
    font: $font-desktop-montserrat-500-16;
    color: $color-secondary;
  }
}

/* ================= BANNER ================= */
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  height: 45rem;
  background-size: cover;
  background-position: center;

  &.first {
    background-image: url("/images/home/banner-first.png");
  }
  &.second {
    background-image: url("/images/home/banner-second.png");
  }

  .bannerLink {
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
  }

  .bannerOverlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
  }

  .bannerContent {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    padding: 5rem;

    h2 {
      margin: 0;
      font: $font-desktop-dm-400-42;
      color: $color-primary;
    }

    .bannerCta {
      position: relative;
      font: $font-desktop-dm-400-18;
      color: $color-primary;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 0;
        height: 2px;
        background: $color-primary;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  &:hover .bannerOverlay,
  &:focus-within .bannerOverlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover .bannerCta::after,
  &:focus-within .bannerCta::after {
    width: 100%;
  }
}

/* ================= FRAME ================= */
.frame {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $page-extend;
  transition: background-color 0.4s ease;

  &.first {
    background: $color-teal;
    &:has(.left:hover) {
      background: $color-yellow;
    }
    &:has(.right:hover) {
      background: $color-purple;
    }
  }

  &.second {
    background: $color-yellow;
    &:has(.left:hover) {
      background: $color-red;
    }
    &:has(.right:hover) {
      background: $color-secondary;
    }
  }

  .frameContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .frameItem {
    position: relative;
    display: flex;
    z-index: 1;
  }

  .left {
    width: fit-content;
    justify-content: flex-start;
    margin-bottom: 2.5rem;
  }

  .right {
    justify-content: flex-end;
    margin-right: 8rem;
    margin-top: -14rem;
    z-index: 2;

    figcaption {
      position: relative;
      z-index: 3;
      width: 35%;
      margin-left: -8rem;
      padding: $section-medium;
    }
  }

  .frameImg {
    width: 28rem;
    aspect-ratio: 1 / 1; /* <-- square */
    overflow: hidden;
  }

  .right .frameImg {
    width: 20rem;
    aspect-ratio: 1 / 1; /* <-- square */
  }

  .frameImg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 94% 100%, 0 100%);
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .frameImg img:hover {
    transform: scale(1.1);
  }

  figcaption {
    position: relative;
    z-index: 3;
    margin-left: -8rem;
    padding: $section-medium;
  }

  figcaption a {
    font: $font-desktop-dm-400-42;
    color: $color-primary;
    text-decoration: none;
    @include hover-underline();
  }
}

/* ================= BRANDS ================= */
.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: $page-extend;

  .brandItem {
    position: relative;
    width: 22rem;
  }

  .brandLink {
    position: relative;
    display: block;
    aspect-ratio: 1/1; /* square container */
    overflow: hidden;
  }

  .base,
  .hover {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s;
  }

  .hover {
    opacity: 0;
  }
  .brandLink:hover .hover,
  .brandLink:focus-visible .hover {
    opacity: 1;
  }
  .brandLink:hover .base,
  .brandLink:focus-visible .base {
    opacity: 0;
  }
}

/* ================= RESPONSIVE ================= */
@include respond("tablet") {
  .hero {
    padding: 3rem;
    .heroTitle {
      font: $font-tablet-dm-400-36;
    }
    .heroText {
      font: $font-tablet-montserrat-500-14;
    }
  }

  .banner {
    height: 42rem;

    .bannerContent {
      padding: 3rem 4rem;
      align-items: flex-end;
      gap: 0.75rem;

      h2 {
        font: $font-tablet-dm-400-36;
      }
      .bannerCta {
        font: $font-tablet-dm-400-18;
      }
    }
  }

  .frame {
    .right {
      margin-right: 4rem;
      margin-top: -8rem;

      figcaption {
        width: 50%;
        margin-left: -4rem;
      }
    }

    .frameImg {
      width: 22rem;
    }
    .right .frameImg {
      width: 16rem;
    }
  }

  .brands .brandItem {
    width: 18rem;
  }
}

@include respond("mobile") {
  .hero {
    margin-top: -4rem;
    img {
      width: 6rem;
    }
    .heroTitle {
      font: $font-mobile-dm-400-32;
    }
    .heroText {
      width: 90%;
      font: $font-mobile-montserrat-500-12;
    }
  }

  .banner {
    height: 40rem;

    .bannerContent {
      flex-direction: column;
      align-items: flex-start;
      padding: 25rem 2rem 3rem;

      h2 {
        font: $font-mobile-dm-400-20;
      }

      .bannerCta {
        font: $font-mobile-dm-400-14;
        text-decoration: underline;
        &::after {
          display: none;
        }
      }
    }
  }

  .frame {
    padding: $page-mobile-normal;

    .frameContent {
      gap: $section-large;
    }

    .left figcaption {
      width: 60%;
      margin-left: -4rem;
    }

    .right {
      margin-left: 4rem !important;

      figcaption {
        padding-right: 0;
        width: 70%;
        margin-left: -4rem;
      }
    }

    .frameItem {
      margin: 0;
    }

    figcaption a {
      font: $font-mobile-dm-400-20;
    }

    .frameImg {
      width: 180px;
      aspect-ratio: 1 / 1;
      overflow: hidden;
    }

    .right .frameImg {
      width: 140px !important;
      aspect-ratio: 1 / 1;
    }

    .frameImg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .brands {
    flex-direction: column;
    align-items: center;
    padding: $page-mobile-normal;

    .brandItem {
      width: 12rem;
    }
  }
}

