@use "../styles/variables" as *;
@use "../styles/mixins" as *;
/* HERO */
.hero {
  background-color: $color-primary;
  padding: 4rem 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $section-medium;

  img {
    width: 160px;
  }
  .heroTitle {
    font: $font-desktop-dm-400-42;
    color: $color-secondary;
  }
  .heroText {
    font: $font-desktop-montserrat-500-16;
    max-width: 26rem;
    margin: 0;
    color: $color-secondary;
  }
}

/* BANNER */
.banner {
  position: relative;
  width: 100%;
  height: 45rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  &.first {
    background-image: url("/images/home/banner-first.png");
  }
  &.second {
    background-image: url("/images/home/banner-second.png");
  }

  .bannerLink {
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
  }
  .bannerOverlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
  }
  .bannerContent {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5rem;
    gap: 1rem;

    h2 {
      color: $color-primary;
      font: $font-desktop-dm-400-42;
      margin: 0;
    }
    .bannerCta {
      color: $color-primary;
      font: $font-desktop-dm-400-18;
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 0;
        height: 2px;
        background: $color-primary;
        transition: width 0.3s ease;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }

  &:hover .bannerOverlay,
  &:focus-within .bannerOverlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:hover .bannerCta::after,
  &:focus-within .bannerCta::after {
    width: 100%;
  }
}

/* FRAME */
.frame {
  display: flex;
  padding: $page-extend;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.4s ease;

  &.first {
    background: $color-teal;
    &:has(.left:hover) {
      background: $color-yellow;
    }
    &:has(.right:hover) {
      background: $color-purple;
    }
  }

  &.second {
    background: $color-yellow;
    &:has(.left:hover) {
      background: $color-red;
    }
    &:has(.right:hover) {
      background: $color-secondary;
    }
  }

  .frameContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .frameItem {
    position: relative;
    display: flex;
    z-index: 1;
  }

  .left {
    justify-content: flex-start;
    margin-bottom: 2.5rem;
  }
  .right {
    justify-content: flex-end;
    margin-right: 8rem;
    margin-top: -14rem;
    z-index: 2;
  }

  .frameImg {
    width: 28rem;
    overflow: hidden;
  }
  .right .frameImg {
    width: 20rem;
  }

  .frameImg img {
    width: 100%;
    display: block;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 94% 100%, 0 100%);
    cursor: pointer;
  }
  .frameImg img:hover {
    transform: scale(1.1);
  }

  figcaption {
    padding: $section-medium;
    margin-left: -8rem;
    position: relative;
    z-index: 3;
  }
  figcaption a {
    color: $color-primary;
    font: $font-desktop-dm-400-42;
    text-decoration: none;
    @include hover-underline();
  }
}

/* BRANDS */
.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: $page-extend;
  flex-wrap: wrap;

  .brandItem {
    width: 22rem;
    position: relative;
  }
  .brandLink {
    display: block;
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .base,
  .hover {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s;
  }
  .hover {
    opacity: 0;
  }
  .brandLink:hover .hover,
  .brandLink:focus-visible .hover {
    opacity: 1;
  }
  .brandLink:hover .base,
  .brandLink:focus-visible .base {
    opacity: 0;
  }
}

/* RESPONSIVE */
@include respond("tablet") {
  .hero {
    padding: 3rem;
    .heroTitle {
      font: $font-tablet-dm-400-36;
    }
    .heroText {
      font: $font-tablet-montserrat-500-14;
    }
  }
  .banner {
    height: 42rem;
    .bannerContent {
      padding: 4rem;
      h2 {
        font: $font-tablet-dm-400-36;
      }
      .bannerCta {
        font: $font-tablet-dm-400-18;
      }
    }
  }
  .frame .frameImg {
    width: 22rem;
  }
  .frame .right .frameImg {
    width: 16rem;
  }
  .brands .brandItem {
    width: 18rem;
  }
}

@include respond("mobile") {
  .hero {
    padding: 2rem;
    img {
      width: 6rem;
    }
    .heroTitle {
      font: $font-mobile-dm-400-32;
    }
    .heroText {
      font: $font-mobile-montserrat-500-12;
    }
  }
  .banner {
    height: 40rem;
    .bannerContent {
      flex-direction: column;
      padding: 25rem 2rem 3rem;
      h2 {
        font: $font-mobile-dm-400-20;
      }
      .bannerCta {
        font: $font-mobile-dm-400-14;
        text-decoration: underline;
        &::after {
          display: none;
        }
      }
    }
  }
  .frame {
    padding: $page-mobile-normal;
    .frameContent {
      gap: $section-large;
    }
    .frameItem {
      margin: 0 !important;
      figcaption a {
        font: $font-mobile-dm-400-20;
      }
      .frameImg {
        width: 12rem;
      }
    }
    .right .frameImg {
      width: 9rem;
    }
  }
  .brands {
    flex-direction: column;
    align-items: center;
    .brandItem {
      width: 12rem;
      margin-bottom: 2rem;
    }
  }
}
